@import "./normalize.min.css";
@import "./reset.min.css";
@import "./latest_article.css";
@import "./global.css";
@import "./header.css";
@import "./hero.css";
@import "./testimonials.css";
@import "./footer.css";
